@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, welcome to PixelPulse</h1>
<h2>Your not so one stop shop for tech gear!</h2>
<img src="https://pbs.twimg.com/profile_images/1497249598204743682/9Ylj3Ged_400x400.png" />