@page "/productdetails/{Id:int}"
@using FluentBlazorEcommerce.Models
@inject HttpClient http
@inject NavigationManager Navigation

<h3>ProductDetails</h3>

<EditForm Model="@product" OnValidSubmit="HandleValidSubmit" FormName="ProductForm">
    <FluentStack Orientation="Orientation.Vertical">
        <FluentNumberField @bind-Value="product.Id" Label="ID" TValue="int" ReadOnly />
        <FluentTextField @bind-Value="product.Name" Label="Name" />
        <FluentNumberField @bind-Value="product.Price" Label="Price" TValue="decimal" />
        <FluentTextField @bind-Value="product.Description" Label="Description" />
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentButton Type="ButtonType.Submit">Save</FluentButton>
            <FluentButton OnClick="@(() => Navigation.NavigateTo("/Products"))">Cancel</FluentButton>
        </FluentStack>
    </FluentStack>
</EditForm>

@code {
    @code {
        [Parameter]
        public int Id { get; set; }

        [SupplyParameterFromForm]
        public ProductViewModel product { get; set; } = new();

        protected override async Task OnParametersSetAsync()
        {
            product = await http.GetFromJsonAsync<ProductViewModel>($"api/products/{Id}");
        }

        private async Task HandleValidSubmit()
        {
            await http.PutAsJsonAsync($"/api/products/{Id}", product);
        }
    }

}
